@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap'); 

#Gallery {
    padding: 50px 10%;
    font-family: 'Roboto Slab', serif;
}

#Gallery h3 {
    color: gray;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 400;
}

#Gallery h3::before {
    content: "";
    position: left;
    top: -15px; 
    left: 0;
    width: 80px;
    height: 4px; 
    background-color: rgba(193, 176, 134, 0.7); 
    display: block;
    margin-bottom: 25px;
}

#Gallery h2 {
    font-size: 23px;
    margin-bottom: 50px;
    font-weight: 450;
}

.photo-gallery-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow: visible; 
    padding: 20px; 
    height: auto; 
}


.gallery {
    display: flex;
    align-items: center;
    gap: 5px;
    perspective: 900px;
}

.gallery img {
    height: 400px; 
    width: 70px; 
    border-radius: 50px;
    object-fit: cover;
    border: 2px solid rgba(193, 176, 134, 0.7);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
}

.gallery img:first-child {
    width: 500px; 
    border-radius: 20px;
}


.gallery img:hover {
    transform: scale(1.05);
}

.about-boutton {
    display: inline-block;
    background-color: rgb(193, 176, 134);
    color: white;
    text-decoration: none; 
    border: 3px solid white;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 430px;
    right: 100px;
}