@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap'); 

#amenities {
    font-family: 'Roboto Slab', serif; 
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    overflow: hidden; 
}

.amenities-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    object-fit: cover; 
    border-top: 3px solid rgb(193, 176, 134); 
    border-bottom: 3px solid rgb(193, 176, 134); 
}

.amenities-container {
    background:rgba(63, 156, 193, 0.4); 
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    height: 67%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    border: 3px solid rgb(193, 176, 134); 
    margin-top: 110px; 
    margin-left: 350px;
}

.amenities-container:hover {
    background: rgb(63, 156, 193); 
}

.amenities-content h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.amenities-content p {
    color: #fff;
    font-size: 12px;
    line-height: 1.8; 
    text-align: justify; 
    margin-bottom: 20px; 
}

.amenities-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 35px;
}

.amenities-list .amenity {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.amenity {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.amenity span {
    margin-right: 10px;
}

.about-boutton {
    display: inline-block;
    background-color: rgb(193, 176, 134);
    color: white;
    text-decoration: none; 
    border: 3px solid white;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.about-boutton:hover {
    background-color: rgb(193, 176, 134);
    transform: translateY(-3px);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.4);
}

html {
    scroll-behavior: smooth;
}



